@media (max-width: 480px) {
    .Transfer {
        font-size: 1.65rem; 
        text-align: left;
        
        /* Adjusting font size and alignment for smaller screens */
    }
    
    .heroData {
        padding-left: 0rem !important;
        /* Removing left padding for smaller screens */
    }
}

/* CSS for the floating ball and rotating effect along a circular path */
@keyframes floatBall {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    4.17% {
      transform: translate(17px, -10px) rotate(15deg);
    }
    8.33% {
      transform: translate(35px, -20px) rotate(30deg);
    }
    12.5% {
      transform: translate(57px, -25px) rotate(40deg);
    }
    16.67% {
      transform: translate(80px, -20px) rotate(60deg);
    }
    20.83% {
      transform: translate(105px, -10px) rotate(75deg);
    }
    25% {
      transform: translate(130px, 0) rotate(90deg);
    }
    33.33% {
      transform: translate(85px, 45px) rotate(120deg);
    }
    41.67% {
      transform: translate(25px, 47px) rotate(150deg);
    }
    50% {
      transform: translate(-5px, -5px) rotate(180deg);
    }
    58.33% {
      transform: translate(-45px, -25px) rotate(210deg);
    }
    66.67% {
      transform: translate(-90px, -25px) rotate(240deg);
    }
    70% {
      transform: translate(-100px, -28px) rotate(255deg);
    }
    75% {
      transform: translate(-150px, 20px) rotate(270deg);
    }
    83.33% {
      transform: translate(-120px, 50px) rotate(300deg);
    }
    91.67% {
      transform: translate(-55px, 40px) rotate(330deg);
    }
    100% {
      transform: translate(0, 0) rotate(360deg); /* End back at the start */
    }
}

.floating-ball {
    will-change: transform;
    animation: floatBall 25s linear infinite;
    position: absolute;
    top: 40%; /* Adjust based on your design */
    left: 50%;
    transform-origin: center center; /* Ensure rotation occurs around the center */
    width: 40px; /* Set ball size */
    height: 40px; /* Set ball size */
    background-color: #848dd6; /* Ball color */
    border-radius: 50%; /* Make it circular */
    z-index: 10; /* Make sure the ball is on top */
}

/* For users who prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
    .floating-ball {
        animation-duration: 40s; /* Slow down the animation for reduced motion preference */
    }
}
@media (max-width:480px) {
  .floating-ball {
    width: 23px;
    height: 23px;

  }
}