@media (max-width: 720px) {
    .web {
        font-size: 1.3rem;
        margin-left: 0;
        margin-right: 30px;
        text-align: center;
    }

    .title {
        font-size: 3rem;
    }

    button {
        font-size: 1rem;
    }
}

@media (max-width: 640px) {
    .Web {
        font-size: 1.1rem;

        margin-left: 0;
        margin-right: 110px;
        padding-right: 10px;
        text-align: left;
    }

    .title {
        font-size: 2.5rem;
    }

    button {
        font-size: 1rem;
    }
}

@media (max-width: 430px) {
    .Web {
        font-size: 1.1rem;

        margin-left: 0;
        margin-right: 110px;
        padding-right: 10px;
        text-align: left;
    }

    .title {
        font-size: 2.5rem;
    }

    button {
        font-size: 1rem;
    }
}

@media (max-width: 390px) {
    .Web {
        font-size: 1.1rem;

        margin-left: 0;
        margin-right: 110px;
        padding-right: 10px;
        text-align: left;
    }

    .title {
        font-size: 2.5rem;
    }

    button {
        font-size: 1rem;
    }
}